/* etusivu.css */

/* Containerin tyylit */
.container {
    position: relative;
    width: 100vw;
    height: 62vh;
}

/* Kuvan tyylit */
.img-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Ensimmäisen divin absoluuttisesti sijoitettujen elementtien tyylit */
.absolute-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;

}


/* Otsikon tyylit */
#etusivu {
    font-size: 4em;
    color: #4A301E;
    -webkit-text-stroke: 1px white;
    /* width and color */
    /* Päivitetty fonttikoko */
}

h3 {
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.text-container {
    position: absolute;
    top: 55%;
    /* Aseta sivun yläreuna 50%:iin näytön korkeudesta */
    left: 50%;
    /* Aseta sivun vasen reuna 50%:iin näytön leveydestä */
    transform: translate(-50%, -50%);
    /* Keskitä elementti sekä vaaka- että pystysuunnassa */
    width: 50%;
    /* Aseta leveys halutuksi */
    height: auto;
    /* Varmista, että korkeus mukautuu sisällön mukaan */
    z-index: 1;
    padding: 10px;
    /* Yleinen padding kaikille sivuille */
    padding-top: 0;
    /* Erikoispadding ylös */
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    /* 20 pikselin pyöristetyt reunat */
    text-align: center;
    /* Teksti keskitetään */
}

/* Tekstin tyylit */
.text {
    color: #4A301E;
    /* Ruskea teksti */
    text-align: center;
}

/* Tekstikentän tyylit */
input[type="text"] {
    width: 80%;
    height: 50%;
    border: 1px solid #4A301E;
    font-size: 1.2em;
    border-radius: 20px;
    margin: 0 auto;
    /* Keskitetään vaakasuunnassa */
}

/* Uusimpien reseptien osion tyylit */
.reseptit-container {
    margin-left: 20px;
    margin-right: 20px;
    color: #6e492f;
    position: relative;
}

/* Ympyröiden tyylit */
.circle-container {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    align-items: center;
    position: relative;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparent;
    /* taustaväri */
    border: 2px solid #6e492f;
    /* reunan väri ja leveys */
    margin-right: 80px;
    flex-shrink: 0;
}

.circle-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.circle-text {
    margin-top: 10px;
    /* Vaihda tarvittaessa haluttuun välimatkaan ympyrän alapuolella */
    margin-right: 80px;
    margin-bottom: 50px;
    text-align: center;
}


.no-results {
    display: flex;
    align-items: center;
}

#surunaama {
    width: 20%;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.no-results p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: "100%"
}



#etusivunnappulat {
    display: flex;
    /* Asetetaan flex-containeriksi */
    align-items: center;
    /* Asetetaan otsikko ja naput keskitetysti pystysuunnassa */
}

.nice-button {
    background-color: #6e492f;
    color: white;
    border: 1px solid #6e492f;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

.nice-button:hover {
    background-color: #4a301e;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.etusivu-nappidivi {
    width: 50px;
    height: 200px;
    display: flex;
    align-items: center;
}



@media only screen and (max-width: 1700px) {
    .scroll-buttons {
        display: flex;
        /* Asetetaan nappulat näkyviin kun näyttöleveys on alle 1700px */
        justify-content: space-between;
        /* Asettaa napit yhtä etäälle toisistaan ja laittaa oikean reunan nappiin flex-end */
        width: 100%;
    }
}


/* Responsiiviset tyylit */
@media only screen and (max-width: 1390px) {

    /* Tekstin koko pienemmälle näytölle */
    .text-container {
        width: 60%;
    }

    #etusivu {
        font-size: 3.5em;
    }

    h2 {
        font-size: 1.5em;
    }


}

/* Responsiiviset tyylit */
@media only screen and (max-width: 1025px) {

    /* Tekstin koko pienemmälle näytölle */
    .text-container {
        width: 70%;
    }

    #etusivu {
        font-size: 3em;
    }

    h2 {
        font-size: 1.3em;
    }

    .circle {
        width: 150px;
        height: 150px;
        margin-right: 50px;
        flex-shrink: 0;
    }

    .etusivu-nappidivi {
        width: 50px;
        height: 150px;
        display: flex;
        align-items: center;
    }

    .circle-with-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .circle-text {
        margin-top: 10px;
        /* Vaihda tarvittaessa haluttuun välimatkaan ympyrän alapuolella */
        margin-right: 60px;
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) {

    .etusivu-nappidivi {
        display: none;
    }

}

/* Responsiiviset tyylit */
@media only screen and (max-width: 768px) {

    /* Tekstin koko pienemmälle näytölle */
    .text-container {
        width: 70%;
    }

    #etusivu {
        font-size: 3em;
    }

    h2 {
        font-size: 1.1em;
    }

    .circle {
        width: 150px;
        height: 150px;
        margin-right: 30px;
    }

}

@media (max-width: 650px) {
    .no-results {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* Keskitä sisältö vaakasuunnassa */
        text-align: center;
        /* Keskitä tekstit */
    }

    .no-results p {
        margin-top: 10px;
        /* Lisää tilaa yläpuolelle */
        margin-bottom: 20px;
    }

    #surunaama {
        display: block;
        margin: 0 auto;
        /* Keskitä surunaama */
    }
}

@media (max-width: 550px) {
    #vaihdarivi {
        display: block;
        /* Aseta span-elementti block-elementiksi */
    }

    #surunaama {
        width: 10vh;
    }
}




@media only screen and (max-width: 528px) {

    /* Tekstin koko vielä pienemmälle näytölle */
    .text-container {
        width: 80%;
    }

    #etusivu {
        font-size: 3em;
        margin-left: 20px;
    }

    h2 {
        font-size: 1.1em;
    }

    h3 {
        font-size: 1.5em;
    }

    .circle {
        width: 100px;
        height: 100px;
        margin-right: 30px;
    }

    .circle-with-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .circle-text {
        margin-right: 40px;
    }

    .reseptit-container {
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
    }

    /* Napit pienenevät samassa suhteessa kuin teksti */
    .nice-button {
        font-size: 0.5em;
        /* Aseta fonttikoko haluttuun kokoonsa */
    }
}

@media only screen and (max-width: 420px) {

    .absolute-content {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        z-index: 1;
    }

    .text-container {
        position: absolute;
        top: 60%;
        /* Aseta sivun yläreuna 50%:iin näytön korkeudesta */
        left: 50%;
        /* Aseta sivun vasen reuna 50%:iin näytön leveydestä */
        transform: translate(-50%, -50%);
        /* Keskitä elementti sekä vaaka- että pystysuunnassa */
        width: 80%;
        /* Aseta leveys halutuksi */
        height: auto;
        /* Varmista, että korkeus mukautuu sisällön mukaan */
        z-index: 1;
    }

}

@media only screen and (max-width: 355px) {

    .text-container {
        position: absolute;
        top: 50%;
        /* Aseta sivun yläreuna 50%:iin näytön korkeudesta */
        left: 50%;
        /* Aseta sivun vasen reuna 50%:iin näytön leveydestä */
        transform: translate(-50%, -50%);
        /* Keskitä elementti sekä vaaka- että pystysuunnassa */
        width: 80%;
        /* Aseta leveys halutuksi */
        height: auto;
        /* Varmista, että korkeus mukautuu sisällön mukaan */
        z-index: 1;
    }

    #etusivu {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.1em;
    }

    h3 {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 250px) {

    .absolute-content {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        z-index: 1;
    }

    .text-container {
        position: absolute;
        top: 50%;
        /* Aseta sivun yläreuna 50%:iin näytön korkeudesta */
        left: 50%;
        /* Aseta sivun vasen reuna 50%:iin näytön leveydestä */
        transform: translate(-50%, -50%);
        /* Keskitä elementti sekä vaaka- että pystysuunnassa */
        width: 80%;
        /* Aseta leveys halutuksi */
        height: auto;
        /* Varmista, että korkeus mukautuu sisällön mukaan */
        z-index: 1;
    }

}