/* Otsikon tyylit */
#otsikko {
    font-size: 3em;
    margin-left: 50px;
    color: #6e492f;
}

#aamiainen {
    font-size: 2em;
    color: #6e492f;
    margin-left: 50px;
}

#lounas {
    font-size: 2em;
    color: #6e492f;
    margin-left: 50px;
}

#leivonnaiset {
    font-size: 2em;
    color: #6e492f;
    margin-left: 50px;
}

#valipalat {
    font-size: 2em;
    color: #6e492f;
    margin-left: 50px;
}

.aamupala-container {
    margin-left: 50px;
    margin-right: 20px;
    color: #6e492f;
    position: relative;
}


.lounas-container {
    margin-left: 50px;
    margin-right: 20px;
    color: #6e492f;
    position: relative;
}

.leivonnaiset-container {
    margin-left: 50px;
    margin-right: 20px;
    color: #6e492f;
    position: relative;
}

.valipala-container {
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
    color: #6e492f;
    position: relative;
}

/* Ympyröiden tyylit */
.square-container {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    align-items: center;
    position: relative;
}

.square {
    width: 200px;
    height: 200px;
    background-color: transparent;
    /* taustaväri */
    border: 2px solid #6e492f;
    /* reunan väri ja leveys */
    margin-right: 80px;
    flex-shrink: 0;
}

.square-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .square-text {
    margin-top: 10px; /* Vaihda tarvittaessa haluttuun välimatkaan ympyrän alapuolella */
    margin-right: 80px;
    text-align: center;
  }

/* Vieritettävän listan nuolien tyylit*/
.kategoriat-scroll-buttons {
    position: absolute; /* Asetetaan absoluuttinen sijainti */
    top: calc(50%);
    transform: translateY(-50%); /* Siirretään ylös 50% suhteessa omaan korkeuteensa */
    display: none; /* Piilotetaan napit oletuksena */
}

/* Vieritettävän listan nuolien tyylit */
.kategoriat-scroll-buttons button {
    margin-left: -40px;
    margin-right: 10px;
    font-size: 60px;
    color: #6e492f;
    background-color: #fff; /* Taustaväri */
    border: none; /* Poista reuna */
    border-radius: 50%; /* Pyöristä reunat */
    padding: 10px; /* Lisää täytettä napin sisälle */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Lisää pieni varjo */
}

@media only screen and (max-width: 1700px) {
    .kategoriat-scroll-buttons {
        display: flex; /* Asetetaan nappulat näkyviin kun näyttöleveys on alle 1700px */
        justify-content: space-between; /* Asettaa napit yhtä etäälle toisistaan ja laittaa oikean reunan nappiin flex-end */
        width: 100%;
    }
}



/* Responsiiviset tyylit */
@media only screen and (max-width: 1390px) {

    h1 {
        font-size: 3.5em;
    }
}

/* Responsiiviset tyylit */
@media only screen and (max-width: 1025px) {

    h1 {
        font-size: 3em;
    }

    .square {
        width: 150px;
        height: 150px;
        margin-right: 50px;
        flex-shrink: 0;
    }

    .square-with-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      
      .square-text {
        margin-top: 10px; /* Vaihda tarvittaessa haluttuun välimatkaan ympyrän alapuolella */
        margin-right: 60px;
        text-align: center;
      }
}

/* Responsiiviset tyylit */
@media only screen and (max-width: 768px) {

    h1 {
        font-size: 3em;
    }

    .square {
        width: 150px;
        height: 150px;
        margin-right: 30px;
    }
      
}

@media only screen and (max-width: 480px) {

    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

    .square {
        width: 100px;
        height: 100px;
        margin-right: 30px;
    }

    .square-with-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
}

@media only screen and (max-width: 320px) {

    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.2em;
    }
}
