#reseptiruudukko {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    max-width: 1300px;
    border-collapse: collapse;
}

#ruokanimi {
    width: 40%;
    height: 20vh;
    border-color: #6e492f;
    border-style: solid;
    border-width: 2px;
    position: relative;
    vertical-align: top;
    padding: 10px 30px;
}

#ruokaainekset {
    width: 30%;
    height: auto;
    border-color: #6e492f;
    border-style: solid;
    border-width: 2px;
    position: relative;
    vertical-align: top;
    padding: 10px 30px;
}

#ruokaohjeet {
    width: 70%;
    height: auto;
    border-color: #6e492f;
    border-style: solid;
    border-width: 2px;
    position: relative;
    vertical-align: top;
    padding: 10px 30px;
}

#ruokakuva {
    width: auto;
    height: 50vh;
    border-color: #6e492f;
    border-style: solid;
    border-width: 2px;
    padding: 1px;
    position: relative;
    vertical-align: top;
    overflow: hidden;
}

#ruokakuva img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.ruskea {
    color: #6e492f;
}

#ainesosaruudukko {
    border-collapse: collapse;
    width: 100%;
}

#ainesosaruudukko tr {
    border-bottom: 1px solid #6e492f;
}

#resepti-reseptinnimi {
    font-size: 3.5em;
}

@media (max-width: 1400px){
    #reseptiruudukko {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        margin-top: 50px;
        max-width: 1100px;
        border-collapse: collapse;
    }

    #resepti-reseptinnimi {
        font-size: 3.5em;
    }
}

@media (max-width: 1200px){
    #reseptiruudukko {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        margin-top: 50px;
        max-width: 900px;
        border-collapse: collapse;
    }
}


@media (max-width: 1000px) {

    /* Asetetaan flexbox taulukon soluihin */
    #ruokanimi,
    #ruokaohjeet,
    #ruokaainekset,
    #ruokakuva {
        display: flex;
        flex-direction: column;
    }

    #ainesosaruudukko{
        margin-bottom: 30px;
    }

    #ruokanimi,
    #ruokaohjeet,
    #ruokaainekset {
        width: 80%;
        height: auto;
        border-left: none;
        /* Poistetaan vasen reuna */
        border-right: none;
        /* Poistetaan oikea reuna */
        border-bottom: 2px solid #6e492f;
        /* Lisätään alareuna */
        padding: 10px 30px;
    }

    #ruokakuva {
        width: 80%;
        max-height: 40vh;
        border-left: none;
        /* Poistetaan vasen reuna */
        border-right: none;
        /* Poistetaan oikea reuna */
        border-bottom: 2px solid #6e492f;
        /* Lisätään alareuna */
        padding: 10px 30px;
    }

    #reseptiruudukko {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        margin-top: 50px;
        width: 80%;
        border-collapse: collapse;
    }

    #resepti-reseptinnimi {
        font-size: 3em;
    }

}

@media only screen and (max-width: 768px) {

    #resepti-reseptinnimi {
        font-size: 3em;
    }
}


@media (max-width: 500px) {

    #reseptiruudukko {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        width: (100%-20px);
        border-collapse: collapse;
    }

    /* Asetetaan flexbox taulukon soluihin */
    #ruokanimi,
    #ruokaohjeet,
    #ruokaainekset,
    #ruokakuva {
        display: flex;
        flex-direction: column;
        
    }

    #ruokanimi,
    #ruokaohjeet,
    #ruokaainekset {
        width: 100%;
        height: auto;
        border-left: none;
        /* Poistetaan vasen reuna */
        border-right: none;
        /* Poistetaan oikea reuna */
        border-bottom: 2px solid #6e492f;
        /* Lisätään alareuna */
        padding: 10px 30px;
    }

    #ruokakuva {
        width: 100%;
        max-height: 40vh;
        border-left: none;
        /* Poistetaan vasen reuna */
        border-right: none;
        /* Poistetaan oikea reuna */
        border-bottom: 2px solid #6e492f;
        /* Lisätään alareuna */
        padding: 10px 30px;
    }

    #resepti-reseptinnimi {
        font-size: 2em;
    }

}

@media only screen and (max-width: 320px) {

    #resepti-reseptinnimi {
        font-size: 2em;
    }
}