#otsikko {
    font-size: 3em;
    margin-left: 50px;
    color: #6e492f;
}

#uutisruudukko {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: -20px;
    border-collapse: separate;
    border-spacing: 0 40px;
    width: calc(100% - 100px);
}

#uutisruudukko td {
    border-color: #6e492f;
    border-style: solid;
    border-width: 2px;
    position: relative;
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.uutisotsikko {
    font-size: 2em;
    color: #6e492f;
    margin-left: 20px;
    margin-right: 20px;
}

.uutisteksti {
    font-size: 1em;
    margin-left: 20px;
    margin-right: 20px;
}


.ruokakuva {
    width: auto;
    height: 50vh;
    border-color: #6e492f;
    border-style: solid;
    border-width: 2px;
    padding: 1px;
    position: relative;
    vertical-align: top;
    overflow: hidden;
}

.ruokakuva img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Responsiiviset tyylit */
@media only screen and (min-width: 1001px) and (max-width: 1230px) {

    #uutisruudukko td {
        border-color: #6e492f;
        border-style: solid;
        border-width: 2px;
        position: relative;
        width: 100vw;
        height: auto;
        overflow: hidden;
    }
    
    .ruokakuva {
        width: auto;
        height: 50vh;
        border-color: #6e492f;
        border-style: solid;
        border-width: 2px;
        padding: 1px;
        position: relative;
        vertical-align: top;
        overflow: hidden;
    }
}

/* Responsiiviset tyylit */
@media only screen and (max-width: 1200px) {

    #otsikko {
        font-size: 3em;
        margin-left: 55px;
    }

    #uutisruudukko td {
        display: block;
        width: calc(100% - 20px);
    }
}

/* Responsiiviset tyylit */
@media only screen and (max-width: 480px) {

    #otsikko {
        font-size: 2em;
        margin-left: 20px;
    }

    #uutisruudukko td {
        display: block;
        width: calc(100% - 30px);
        height: auto;
    }

    #uutisruudukko {
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
        margin-top: -10px;
        border-collapse: separate;
        border-spacing: 0 30px;
        width: calc(100% - 30px);

    }

    .uutisotsikko {
        font-size: 1.5em;
        color: #6e492f;
        margin-left: 20px;
        margin-right: 20px;
    }

    .uutisteksti {
        font-size: 1em;
        margin-left: 20px;
        margin-right: 20px;
    }
}
